{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}
{% block content %}
{{ object }}
<div class='ui container grid' id="problem-solve">
    <div class="eleven wide column">
        <a class="ui button blue" href="{{ problem.content_object.get_absolute_url }}">
            <i class="arrow left icon"></i> List of problems 
        </a>
        <p></p>
          
             <a href="{{ problem.get_profile }}">{{ problem.user }}</a>

            <h2 style="margin-top: 10px">{{ problem.title }}</h2> 


            <div class="ui segment">{{ problem.content }}</div>

            {% if check_problem.solved == False %}
                <h5 class="grey small oneline">Not solved</h5>
            {% else %}
                <h5 class="green small oneline">Solved</h5>
            {% endif %}

            <div class="small-details">
              {% if request.user == problem.user %}
                <a href='{{ problem.get_delete_url }}' class="ui tiny button">Delete</a>
              {% endif %}
            </div>
        <div>
            <form method="POST" action='' enctype='multipart/form-data'> {% csrf_token %}
            <div class="form ui solve-area" style="margin-top:10px">
                <div class="ui action input">
                <div class="field"> {{ save_problem_form }}</div>
                <div class="field" style="margin-left:20px">                   
                    <input type='submit' name = 'check' class='ui button tiny' value='Check' >
                    <input type='submit' name = 'save' class='ui button tiny' value='Save' >
                </div>
           

                </div>
             </div>
            </form>
            <!-- <form  method="POST" action='' enctype='multipart/form-data'> {% csrf_token %}
                {{ check_problem_form }}
                <br><br>
                <input type='submit' class='btn btn-info' value='Check' >
            </form> -->
           
        </div>
        </div>
            
        <div class="five wide column" style="margin-top:120px">
            <div><h4>Status: {{ action_check }}</h4></div>
            <div>
                <h4>{% if check_problem.actions|length == 0 %}Here will be your saved expressions{% endif %}{% if check_problem.actions|length > 0 %}{{ check_problem.actions|length }} Saved expression{% if check_problem.actions|length > 1 %}s{% endif %}:{% endif %}</h4>
                {% for c in check_problem.actions %}
                    {% if c.1 != 'f' %}
                        {{ c.0 }}
                        {{ c.1 }}
                    
                        <form method="POST" action='' enctype='multipart/form-data'>{% csrf_token %}
                            <div class="ui form">
                            <div class="field">
                                  {{ delete_expression_form }}
                            </div>
                              
                                <div class="ui input list">
                                <div class="field">
                                    <input type='hidden' name='exp_id' value='{{ forloop.counter }}'>
                                </div>
                                    <input type='submit' name = 'use' class='ui tiny green button' value='Use' >
                                    <input type='submit' name='delete' class='ui tiny red button' value='Delete' style="margin-left:20px" >
             
                                </div>
                            </div>
                        </form>
                        <div class="ui divider"></div>
                    {% endif %}
                {% endfor %}
                <br>


            </div>
        </div>


        
</div>


{% endblock content %}