{% extends "base.html" %}
{% block content %}
<div class='ui container'>
    <div class="ui grid">
        <div class="ui horizontal list twelve wide column">
            {% if staff == "yes" %}
            <h3>
                Staff only: <a class="ui button tiny" href='{% url "news:create" %}'>Create Post</a>
            </h3>
            {% endif %}

        </div>
    </div>

    <div class="ui grid">
        <div class="twelve wide column">
            {% for obj in object_list %}
            <div id="news-form" class="ui segment">

                {% if obj.draft %}

                <h3>Staff only: Draft</h3>

                {% endif %}

                {% if obj.publish > today %}

                <h3>Staff Only: Future Post</h3>

                {% endif %}
                <a href="{{ obj.get_author }}" class="author-name">{{ obj.user.username }}</a>
                {{ obj.publish }}
                <h1>
                    <a class="post-title" href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a>
                </h1>
                <p>{{ obj.get_markdown|truncatechars_html:120 }}</p>
                {% if obj.image %}
                    <img class="responsive-img" src='{{ obj.image.url }}'/>
                {% endif %}

                <div class="more">
                    <a class="ui button green inverted" href="{{ obj.get_absolute_url }}">
                        Read more
                        <i class="arrow right icon"></i>
                    </a>
                </div>


                <div class="ui grid" id="news-features">
                    <div class="three wide column">
                        <a href="{{ obj.get_like_url }}"><i class="arrow up icon item"></i></a>
                        <span class="oneline likes_count space item">{{ obj.likes.count }} </span>
                        <a href="{{ obj.get_dislike_url }}"><i class="arrow down icon item"></i></a>
                    </div>
                    <div class="three wide column">
                        <a class="item btn btn-default" href="{{ obj.get_absolute_url }}">
                             <i class="comment icon item"></i>
                            {{ obj.comments.count }}
                        </a>
                    </div>



                </div>

                <div class="admin-rights">
                    {% if staff == "yes" %}
                    <a href='{{ obj.get_update_url }}' class="ui button tiny">Edit</a>
                    <a href='{{ obj.get_delete_url }}' class="ui button tiny">Delete</a>
                    {% endif %}
                </div>

            </div>
            {% endfor %}
        </div>
        <div class="four wide column" >
            <div id="best-authors-news">
                <span>Топ 5:</span>
                <div class="ui divider"></div>
                <div class="ui grid one-author">
                    <div class="three wide column">
                        <a href="{{ rating.0.get_absolute_url }}">
                        {% if rating.0.image %}
                            <img src="{{ rating.0.image.url }}">
                        {% endif %}
                        </a>
                    </div>
                    <div class="thirteen wide column ui grid right-side">
                        <div class="eight wide column name-author">
                            <a href="{{ rating.0.get_absolute_url }}"><span>{{ rating.0.user.username }}</span></a>
                        </div>
                        <div class="seven wide column rating-autor">
                            <span>{{ rating.0.rating }}</span>
                        </div>
                        <div class="ui tiny progress success">
                            <div class="bar" style="width: 88%;">
                                <div class="progress"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui grid one-author">
                    <div class="three wide column">
                        <a href="{{ rating.1.get_absolute_url }}">
                        {% if rating.1.image %}
                            <img src="{{ rating.1.image.url }}">
                        {% endif %}
                        </a>
                    </div>
                    <div class="thirteen wide column ui grid right-side">
                        <div class="eight wide column name-author">
                            <a href="{{ rating.1.get_absolute_url }}"><span>{{ rating.1.user.username }}</span></a>
                        </div>
                        <div class="seven wide column rating-autor">
                            <span>{{ rating.1.rating }}</span>
                        </div>
                        <div class="ui tiny progress success">
                            <div class="bar" style="width: 88%;">
                                <div class="progress"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui grid one-author">
                    <div class="three wide column">
                        <a href="{{ rating.2.get_absolute_url }}">
                        {% if rating.2.image %}
                            <img src="{{ rating.2.image.url }}">
                        {% endif %}
                        </a>
                    </div>
                    <div class="thirteen wide column ui grid right-side">
                        <div class="eight wide column name-author">
                            <a href="{{ rating.2.get_absolute_url }}"><span>{{ rating.2.user.username }}</span></a>
                        </div>
                        <div class="seven wide column rating-autor">
                            <span>{{ rating.2.rating }}</span>
                        </div>
                        <div class="ui tiny progress success">
                            <div class="bar" style="width: 88%;">
                                <div class="progress"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui grid one-author">
                    <div class="three wide column">
                        <a href="{{ rating.3.get_absolute_url }}">
                        {% if rating.3.image %}
                            <img src="{{ rating.3.image.url }}">
                        {% endif %}
                        </a>
                    </div>
                    <div class="thirteen wide column ui grid right-side">
                        <div class="eight wide column name-author">
                            <a href="{{ rating.3.get_absolute_url }}"><span>{{ rating.3.user.username }}</span></a>
                        </div>
                        <div class="seven wide column rating-autor">
                            <span>{{ rating.3.rating }}</span>
                        </div>
                        <div class="ui tiny progress success">
                            <div class="bar" style="width: 88%;">
                                <div class="progress"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui grid one-author">
                    <div class="three wide column">
                        <a href="{{ rating.4.get_absolute_url }}">
                        {% if rating.4.image %}
                            <img src="{{ rating.4.image.url }}">
                        {% endif %}
                        </a>
                    </div>
                    <div class="thirteen wide column ui grid right-side">
                        <div class="eight wide column name-author">
                            <a href="{{ rating.4.get_absolute_url }}"><span>{{ rating.4.user.username }}</span></a>
                        </div>
                        <div class="seven wide column rating-autor">
                            <span>{{ rating.4.rating }}</span>
                        </div>
                        <div class="ui tiny progress success">
                            <div class="bar" style="width: 88%;">
                                <div class="progress"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui sticky reading-now text" id="reading-right-now">
                <span>Читают сейчас:</span>
                <div class="ui divider"></div>
                {% for obj in object_list %}
                    <div class="post">
                        <a class="post-title" href='{{ obj.get_absolute_url }}'>
                            <span style="color: blue">{{ obj.title|truncatechars_html:30 }}</span>
                        </a>
                        <div class="ui grid news-details">
                            <div class="ten wide column">
                                <a href="#">
                                    <i class="like icon"></i>
                                    <span>{{ obj.likes.count }} </span>
                                </a>
                                <a href="#">
                                    <i class="comment icon"></i>
                                    <span>{{ obj.comments.count }} </span>
                                </a>
                            </div>
                        </div>
                        <div class="ui divider"></div>
                    </div>
                {% endfor %}

            </div>
            <br>
            <div id="best-authors-news">
                <span>Последние дейтсвия:</span>
                <div class="ui divider"></div>
                    <div class="post">
                        <a href="{{ action_list.0.user.get_absolute_url }}">{{ action_list.0.user.user }}</a> solved <a href="{{ action_list.0.problem.get_absolute_url }}">{{ action_list.0.problem.title }}</a>
                        <div class="ui divider"></div>
                    </div>
                    <div class="post">
                        <a href="{{ action_list.1.user.get_absolute_url }}">{{ action_list.1.user.user }}</a> solved <a href="{{ action_list.1.problem.get_absolute_url }}">{{ action_list.1.problem.title }}</a>
                        <div class="ui divider"></div>
                    </div>
                    <div class="post">
                        <a href="{{ action_list.2.user.get_absolute_url }}">{{ action_list.2.user.user }}</a> solved <a href="{{ action_list.2.problem.get_absolute_url }}">{{ action_list.2.problem.title }}</a>
                        <div class="ui divider"></div>
                    </div>
                    <div class="post">
                        <a href="{{ action_list.3.user.get_absolute_url }}">{{ action_list.3.user.user }}</a> solved <a href="{{ action_list.3.problem.get_absolute_url }}">{{ action_list.3.problem.title }}</a>
                        <div class="ui divider"></div>
                    </div>
                    <div class="post">
                        <a href="{{ action_list.4.user.get_absolute_url }}">{{ action_list.4.user.user }}</a> solved <a href="{{ action_list.4.problem.get_absolute_url }}">{{ action_list.4.problem.title }}</a>
                        <div class="ui divider"></div>
                    </div>
            </div>

        </div>
    </div>


    <div class="pagination">
        <span class="step-links">
            {% if object_list.has_previous %}
                <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
            </span>

            {% if object_list.has_next %}
                <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
            {% endif %}
        </span>
    </div>
</div>


{% endblock content %}