{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}


{% block content %}
<div class='ui container'>
    <a class="button ui blue" href='{% url "olymps:list" %}'>
        <i class="angle left icon"></i> Back to olympiads
    </a>
    <br><br>
    <div>
        <h3>Olympiad: {{ instance.title }} <a style="margin-left: 30px;" href='{{ instance.rating_url }}'>Results</a>
        {% if staff == "yes" %}
        <a href='{{ instance.get_update_url }}' style="margin-left: 30px;" class="ui tiny button">Edit</a>
        <a href='{{ instance.get_delete_url }}' class="ui tiny button">Delete</a>
        <a class="ui tiny button" href='{% url "olymps:create" %}'>Create new olympiad</a>
        {% endif %}
        </h3>
        
    </div>


        {% for element_of_user in array_of_user %}
            <div class="ui segment" >
                <h4> 
                    <a href='{{ element_of_user.0.get_absolute_url }}' class="item">
                        {{ forloop.counter }}. <span>{{ element_of_user.0.title }}</span>
                    </a> 
                    {% if is_auth == True %}
                    {% if element_of_user.1.0.solved == False %}
                    <span class="item" style="margin-left: 30px;">Not solved</span>
                    {% else %}
                    <span class="item" style="margin-left: 30px; color: green">Solved</span>
                    {% endif %}
                    {% endif %}
                    {% if staff == "yes" %}
                        <a href='{{ element_of_user.0.get_delete_url }}' class="ui tiny button" style="margin-left: 30px;">Delete</a>
                    {% endif %}
                </h4>
                <p>{{ element_of_user.0.content }}</p>
            </div>
        {% endfor %}

    {% if staff == "yes" %}
    <h4 style="margin-top: 150px;"> Staff only: Create new Problem:</h4>
    <form class="comment_form" method="POST" action='' enctype='multipart/form-data'> {% csrf_token %}
        <div class="ui form" id="submit-problem">
            {{ create_problem_form|crispy }}
        </div>
        <div class="ui input">
            <input type='submit' class='ui button green' style="margin-top:20px" value='Create problem'>
        </div>
    </form>
    {% endif %}

</div>


{% endblock content %}