{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}
{% block content %}
{{ object }}
<div class='ui container' id="problem-solve">
    <h3 style="margin-top: 10px"> <a class="ui button blue" href="{{ problem.content_object.get_absolute_url }}">
    <i class="arrow left icon"></i>Olympiad: {{ problem.content_object.title }}</a> <a href='{{ problem.content_object.rating_url }}'>Results</a>
                 
    {% if request.user == problem.user %}
        <a href='{{ problem.get_delete_url }}' class="ui tiny button" style="margin-left: 30px">Delete</a>
    {% endif %}
</h3>

</div>

<div class='ui container grid' id="problem-solve" style="margin-top:33px; background-color: #2c333b;">
    <div class="eleven wide column" >            
        <div class="ui segment">
            {% if check_problem.solved == False %}
                <h4>Problem: {{ problem.title }} Not solved
            {% else %}
                <h4 style="color: green;">Problem: {{ problem.title }} Solved
            {% endif %}
            <a href="{{ problem.get_profile }}" style="margin-left: 30px">by {{ problem.user }}</a>
            </h4>
            {{ problem.content }}
        </div>
    </div>
</div>    
<div class='ui container grid' id="problem-solve" style="background-color: #2c333b;">
    <form method="POST" action='' enctype='multipart/form-data'> {% csrf_token %}
        <div class='ui container grid' id="problem-solve">
            <div class="twelve wide column" >                            
                <div class="ui form" >
                    <div class="ui action input">
                        {{ check_problem_form }}
                            
                    </div>
                </div>
                <div>
                    <button type='submit' name = 'check' class='ui button tiny'>Check</button>
                    <button type='submit' name = 'save' class='ui button tiny ' style="margin-top: 10px;">Save</button> 
                </div>
                <h4 style="color: white">Status: {{ action_check }} {{ check_problem.current_string }}</h4>     
            </div>
        
            <div class="four wide column" style="margin-top: -80px;">   
                <div class="ui segment">             
                    <h4>Theorems</h4>
                    {% for thrm in theorems %}
                        <div class="ui form">
                            <div class="ui input list">
                                <button type='submit' name = '{{ thrm.name }}' class='ui button'>{{ thrm.name }}</button>
                            </div>
                        </div>
                    {% endfor %}
                    <br>
                </div>
            </div>   
        </div> 
    </form>   

    <div class="eleven wide column" >
            <h4 style="color: white">{% if check_problem.actions|length == 0 %}
                    Here will be your saved expressions{% endif %}{% if check_problem.actions|length > 0 %}
                    {{ check_problem.actions|length }} expression{% if check_problem.actions|length > 1 %}s{% endif %}:
                {% endif %}
            </h4>
            <div class='ui container grid' id="problem-solve">
                {% for c in check_problem.actions %}
                <div class="eight wide column" >
                <div class="ui segment">
                    {% if c.1 != 'f' %}
                        <form method="POST" action='' enctype='multipart/form-data'>{% csrf_token %}
                            <div class="ui input">
                                <input type='hidden' name='exp_id' value='{{ forloop.counter }}'>
                                {{ c.0 }}<p style="margin-left: 10px;">{{ c.1 }}</p>
                                <button type="submit" name = 'use' class='ui tiny green button' style="margin-left: 10px;">use</button>
                                {% if c.2 == 'not_in_task' %}
                                <button type='submit' name='delete' class='ui tiny red button' style="margin-left:5px;" >x
                                </button>
                                {% endif %}  
                            </div>
                        </form>
                    {% endif %}
                </div>    
                </div>
                {% endfor %}
            </div>
        </div>    
    </div>



{% endblock content %}