{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block head_title %}
{{ user }} | {{ block.super }}
{% endblock head_title %}


{% block head_extra %}
{{ form.media }}
{% endblock head_extra %}


{% block content %}
<div class="ui container">
    <div class="ui grid" id="my-profile">
        <div class="five wide column">
            <div class="ui raised card">
                <div class="image">
                    <!-- {% if hisprofile.image %}
                     <img src={{ hisprofile.image.url }}>
                     {% endif %}-->
                    <div className='modelo-wrapper'>
                        <div>
                            <div>
                                <iframe src="https://app.modelo.io/embedded/KGeVqvIOKN?viewport=false&autoplay=true"
                                        style="width: 290px;" frameborder="0" mozallowfullscreen webkitallowfullscreen
                                        allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="header">{{ hisprofile.user }}</div>
                    <div class="meta">
                        <p>{{ status }}</p>
                    </div>
                    <div class="description">

                        {% if user == hisprofile.user %}
                        <form method='POST' action='' enctype="multipart/form-data" class="ui form">{% csrf_token %}
                            {{ form|crispy }}
                            <br>
                            <input type='submit' class='ui button green' value='Save'/>
                        </form>
                        {% else %}
                        <label>School: {{ school }}</label>
                        <label>Birthday: {{ birthday }}</label>

                        {% endif %}
                    </div>
                </div>
                <div class="extra content">
                  <span class="right floated">
                        Rating: {{ rating }}
                  </span>
                </div>
            </div>
            <div class="ui raised card created-problems">
                <div class="content created-content">
                    <div class="header">Created problems:</div>
                    {% if problem_set.count > 0 %}
                    <div class="description">
                        {% for problem in problem_set %}
                        <div class="ui feed">
                            <div class="event">
                                <div class="content">
                                    <div class="date">
                                        {{ problem.timestamp|timesince }} ago
                                    </div>
                                    <div class="summary">
                                        <a href="{{ problem.get_absolute_url }}" class="hover-me"
                                           style="color: #333333;">
                                            {{ problem.title }}
                                        </a> in <a href="{{ problem.content_object.get_absolute_url }}"
                                                   style="color: #333333;" class="hover-me">{{
                                        problem.content_object.title }}</a>
                                        {% if problem.content_type|slugify == "olymp" %}
                                        olympiad
                                        {% endif %}
                                        {% if problem.content_type|slugify == "lecture" %}
                                        lecture
                                        {% endif %}

                                        <br>
                                        {{ problem.content }}
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% elif hisprofile.user == user %}
                    <h4>You do not have created problems: <a href="">Offer your problem to olympiad</a></h4>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="eleven wide column ui raised card">
                <div class="ui top attached tabular menu">
                    <a class="item active" data-tab="first">MY STATS</a>
                    <a class="item" data-tab="second">GRAPHICS</a>
                </div>
                <div class="ui bottom attached tab segment active" data-tab="first" style="background-color: #Fff;">
                    <div id="chart" style="text-align: left;margin: 0px auto;background: white;"></div>
                    <div style="width: 100%; height: 400px; margin: 0 auto">
                      <div class="ui grid">
                        <div class="sixteen wide column">
                          <div id="container-number-theory" style="width: 25%; height: 130px; float: left"></div>
                          <div id="container-inequalities" style="width: 25%; height: 130px; float: left"></div>
                          <div id="container-polynoms" style="width: 25%; height: 130px; float: left"></div>
                          <div id="container-functions" style="width: 25%; height: 130px; float: left"></div>
                        </div>
                          <div class="four wide column text-center">
                            <h4>Number Theory</h4>
                            {% for nt in hisprofile.number_theory_skills %}
                              <p>{{ nt.0 }}: {{ nt.1 }}</p>
                            {% endfor %}
                          </div>
                          <div class="four wide column text-center">
                            <h4>Inequalities</h4>
                            {% for nt in hisprofile.inequalities_skills %}
                              <p>{{ nt.0 }}: {{ nt.1 }}</p>
                            {% endfor %}
                          </div>
                          <div class="four wide column text-center">
                            <h4>Polynoms</h4>
                            {% for nt in hisprofile.polynom_skills %}
                              <p>{{ nt.0 }}: {{ nt.1 }}</p>
                            {% endfor %}
                          </div>
                          <div class="four wide column text-center">
                            <h4>Functions</h4>
                            {% for nt in hisprofile.function_skills %}
                              <p>{{ nt.0 }}: {{ nt.1 }}</p>
                            {% endfor %}
                          </div>
                      </div>
                        
                    </div>
                </div>
                <div class="ui bottom attached tab segment" data-tab="second" style="background-color: #fff;">
                    <div id="chart-graphics"></div>
                </div>
            </div>
    </div>
</div>

<script>
    Highcharts.chart('chart-graphics', {

        title: {
            text: 'Progress in olympiads'
        },

        yAxis: {
            title: {
                text: ''
            }
        },
        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
                },
                pointStart: 2010
            }
        },
        credits: {
            enabled: false
        },

        series: [{
            name: ' ',
            data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
        },],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });
</script>


<script>


    var gaugeOptions = {

        chart: {
            type: 'solidgauge'
        },

        title: null,

        pane: {
            center: ['50%', '85%'],
            size: '140%',
            startAngle: -90,
            endAngle: 90,
            background: {
                innerRadius: '60%',
                outerRadius: '100%',
                shape: 'arc'
            }
        },

        tooltip: {
            enabled: false
        },
        credits: {
            enabled: false
        },

        // the value axis
        yAxis: {
            stops: [
                [0.1, '#55BF3B'], // green
            ],
            lineWidth: 0,
            minorTickInterval: null,
            tickAmount: 2,
            title: {
                y: -70
            },
            labels: {
                y: 16
            }
        },

        plotOptions: {
            solidgauge: {
                dataLabels: {
                    y: 5,
                    borderWidth: 0,
                    useHTML: true
                }
            }
        }
    };

    // The speed gauge
    var chartNumbers = Highcharts.chart('container-number-theory', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 100,
            title: {
                text: 'Number theory'
            }
        },

        credits: {
            enabled: false
        },

        series: [{
            name: 'Number theory',
            data: [80],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ''
            }
        }]

    }));

    // The RPM gauge
    var chartInequalities = Highcharts.chart('container-inequalities', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 100,
            title: {
                text: 'Inequalities'
            }
        },
        credits: {
            enabled: false
        },

        series: [{
            name: 'Inequalities',
            data: [70],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ''
            }
        }]

    }));

    // The RPM gauge
    var chartPolynoms = Highcharts.chart('container-polynoms', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 100,
            title: {
                text: 'Polynoms'
            }
        },
        credits: {
            enabled: false
        },

        series: [{
            name: 'Polynoms',
            data: [40],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ' revolutions/min'
            }
        }]

    }));

    // The RPM gauge
    var chartFunctions = Highcharts.chart('container-functions', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 100,
            title: {
                text: 'Functions'
            }
        },
        credits: {
            enabled: false
        },

        series: [{
            name: 'Functions',
            data: [55],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ' revolutions/min'
            }
        }]

    }));


</script>


<script type="text/javascript">
    $(function () {
        $('#chart').radarChart({
            size: [500, 400],
            step: 1,
            title: "",
            values: {
                "Number theory ": {
        {
            hisprofile.skills
            .1
        }
    },
        "Inequalities"
    :
        3.5,
            "Polynoms"
    :
        4,
            "Functions"
    :
        3,
    },
        showAxisLabels: true
    })
        ;
    });

    (function ($) {

        var Radar = (function () {

            function Radar(ele, settings) {
                this.ele = ele;
                this.settings = $.extend({
                    showAxisLabels: false,
                    title: "Untitled",
                    step: 1,
                    size: [15, 15],
                    values: {},
                    color: [0, 128, 255]
                }, settings);
                this.width = settings.size[0];
                this.height = settings.size[1];
                $(ele).css({
                    'position': 'relative',
                    'width': this.width,
                    'height': this.height
                });
                this.canvases = {};
                this.draw();
            }

            Radar.prototype.newCanvas = function (name, delay) {
                var delay = delay || 0;
                var canvas = document.createElement('canvas');
                canvas.width = this.width;
                canvas.height = this.height;
                $(canvas).css({
                    'position': 'absolute'
                });
                this.canvases[name] = canvas;
                this.ele.appendChild(canvas);
                this.cxt = canvas.getContext('2d');
                if (delay != 0) {
                    $(canvas).css('opacity', 0).delay(delay).animate({opacity: 1}, 500);
                }
            }

            Radar.prototype.draw = function () {
                this.newCanvas('axis', 100);
                var min = 0;
                var max = 0;

                $.each(this.settings.values, function (i, val) {
                    if (val < min)
                        min = val;
                    if (val > max)
                        max = val;
                });

                min = Math.floor(min);
                max = Math.ceil(max);

                var spacing = 20;

                for (var i = min; i <= max; i += this.settings.step) {
                    this.cxt.beginPath();
                    this.cxt.arc(this.width / 2,
                        this.height / 2,
                        this.settings.step * spacing * i,
                        0, 2 * Math.PI, false);
                    this.cxt.strokeStyle = "#666";
                    this.cxt.fillStyle = "#444";
                    this.cxt.stroke();
                    if (this.settings.showAxisLabels)
                        this.cxt.fillText(i, this.width / 2 + this.settings.step * spacing * i + 4, this.height / 2 - 2);
                }

                var size = 0;
                for (var key in this.settings.values)
                    size += 1;

                for (var i = 0; i < size; i += 1) {
                    this.cxt.beginPath();
                    this.cxt.moveTo(this.width / 2, this.height / 2);
                    var x = this.width / 2 + Math.cos((Math.PI * 2) * (i / size)) * spacing * max;
                    var y = this.height / 2 + Math.sin((Math.PI * 2) * (i / size)) * spacing * max;
                    this.cxt.lineTo(x, y);
                    this.cxt.stroke();
                }

                this.newCanvas('part', 200);

                this.cxt.beginPath();
                var first = true;
                var i = 0;
                var that = this;
                var end = {x: null, y: null};
                $.each(this.settings.values, function (key, val) {
                    var x = that.width / 2 + Math.cos((Math.PI * 2) * (i / size)) * spacing * val;
                    var y = that.height / 2 + Math.sin((Math.PI * 2) * (i / size)) * spacing * val;
                    if (first) {
                        that.cxt.moveTo(x, y);
                        end.x = x;
                        end.y = y;
                        first = false;
                    }
                    that.cxt.lineTo(x, y);
                    i += 1;
                });

                this.cxt.lineTo(end.x, end.y);
                var grad = this.cxt.createLinearGradient(0, 0, 0, this.height);
                grad.addColorStop(0, "rgba(" + this.settings.color[0] + "," + this.settings.color[1] + "," + this.settings.color[2] + ",0)");
                grad.addColorStop(1, "rgba(" + this.settings.color[0] + "," + this.settings.color[1] + "," + this.settings.color[2] + ",1)");
                this.cxt.fillStyle = grad;
                this.cxt.shadowBlur = 2;
                this.cxt.shadowColor = "rgba(0, 0, 0, .2)";
                this.cxt.stroke();
                this.cxt.fill();

                this.newCanvas('labels', 1000);

                i = 0;
                $.each(this.settings.values, function (key, val) {
                    that.newCanvas('label-' + i, i * 250);
                    that.cxt.fillStyle = "rgba(0,0,0,.8)";
                    that.cxt.strokeStyle = "rgba(0,0,0,.5)";
                    that.cxt.font = "bold 12px Verdana";
                    var dist = Math.min(spacing * val, size * spacing);
                    var x = that.width / 2 + Math.cos((Math.PI * 2) * (i / size)) * spacing * val;
                    var y = that.height / 2 + Math.sin((Math.PI * 2) * (i / size)) * spacing * val;

                    var textX = that.width / 2 + Math.cos((Math.PI * 2) * (i / size)) * spacing * val;
                    var textY = that.height / 2 + Math.sin((Math.PI * 2) * (i / size)) * spacing * val * 1.5;

                    if (textX < that.width / 2) {
                        textX -= 75
                        that.cxt.textAlign = "end";
                        that.cxt.beginPath();
                        var width = that.cxt.measureText(key).width;
                        that.cxt.moveTo(textX - width - 5, textY + 4);
                        that.cxt.lineTo(textX + 15, textY + 4);
                        that.cxt.lineTo(x - 2, y);
                        that.cxt.lineWidth = 2;
                        that.cxt.stroke();
                    } else {
                        textX += 75
                        that.cxt.textAlign = "start";
                        that.cxt.beginPath();
                        var width = that.cxt.measureText(key).width;
                        that.cxt.moveTo(x + 2, y);
                        that.cxt.lineTo(textX - 15, textY + 4);
                        that.cxt.lineTo(textX + width + 5, textY + 4);
                        that.cxt.lineWidth = 2;
                        that.cxt.stroke();
                    }
                    that.cxt.fillText(key, textX, textY);
                    //For arrows that aren't done.
                    i += 1;
                });


                this.newCanvas('title', 1000);
                this.cxt.font = "bold 24px Verdana";
                this.cxt.fillText(this.settings.title, 10, 30);
            }

            return Radar;

        })();

        $.fn.radarChart = function (settings) {
            this.each(function (i, ele) {
                var radar = new Radar(ele, settings);
            });
        }

    })(jQuery);
</script>


{% endblock content %}

