{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block head_title %}
{{ user }} | {{ block.super }}
{% endblock head_title %}


{% block head_extra %} 
	{{ form.media }}
{% endblock head_extra %}


{% block content %}
	<div class="ui container">
		<div class="ui grid" id="my-profile">
            <div class="five wide column">
                <div class="ui raised card">
                    <div class="image">
                        {% if hisprofile.image %}
                        <img src={{ hisprofile.image.url }}>
                        {% endif %}
                    </div>
                    <div class="content">
                        <div class="header">{{ hisprofile.user }}</div>
                        <div class="meta">
                            <p>{{ status }}</p>
                        </div>
                        <div class="description">

                            {% if user == hisprofile.user %}
                                <form method='POST' action='' enctype="multipart/form-data" class="ui form">{% csrf_token %}
                                    {{ form|crispy }}
                                    <br>
                                    <input type='submit' class='ui button green' value='Save' />
                                </form>
                            {% else %}
                            <label>School: {{ school }}</label>
                            <label>Birthday: {{ birthday }}</label>

                            {% endif %}
                        </div>
                    </div>
                    <div class="extra content">
                  <span class="right floated">
                        Rating: {{ rating }}
                  </span>
                    </div>
                </div>
                <div class="ui raised card created-problems">
                    <div class="content created-content">
                        <div class="header">Created problems:</div>
                        {% if problem_set.count > 0 %}
                        <div class="description">
                            {% for problem in problem_set %}
                            <div class="ui feed">
                                <div class="event">
                                    <div class="content">
                                        <div class="date">
                                            {{ problem.timestamp|timesince }} ago
                                        </div>
                                        <div class="summary">
                                            <a href="{{ problem.get_absolute_url }}">
                                                {{ problem.title }}
                                            </a> in <a href="{{ problem.content_object.get_absolute_url }}">{{ problem.content_object.title }}</a>
                                            {% if problem.content_type|slugify == "olymp" %}
                                            olympiad
                                            {% endif %}
                                            {% if problem.content_type|slugify == "lecture" %}
                                            lecture
                                            {% endif %}

                                            <br>
                                            {{ problem.content }}
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% elif hisprofile.user == user %}
                            <h4>You do not have created problems: <a href="">Offer your problem to olympiad</a></h4>
                        {% endif %}

                    </div>
                </div>

            </div>

            <div class="eleven wide column ui raised card">
                <div class="ui top attached tabular menu">
                    <a class="item active" data-tab="first">MY STATS</a>
                    <a class="item" data-tab="second">GRAPHICS</a>
                </div>
                <div class="ui bottom attached tab segment active" data-tab="first">
                    <div id="container-pie" style="min-width: 200px; max-width: 400px; height: 300px; margin: 0 auto;margin-bottom: 40px;"></div>

                    <div style="width: 600px; height: 400px; margin: 0 auto">
                        <div id="container-speed" style="width: 300px; height: 200px; float: left"></div>
                        <div id="container-rpm" style="width: 300px; height: 200px; float: left"></div>
                    </div>

                </div>
                <div class="ui bottom attached tab segment" data-tab="second">
                    <div id="chart-graphics"></div>


                </div>
            </div>




		</div>
	</div>


<script>


    Highcharts.chart('container-pie', {

        chart: {
            polar: true,
            type: 'line'

        },

        title: {

            text: 'Budget vs spending',
            x: -80
        },

        pane: {
            size: '80%'
        },

        xAxis: {
            categories: ['Sales', 'Marketing', 'Development', 'Customer Support',
                'Information Technology', 'Administration'],
            tickmarkPlacement: 'on',
            lineWidth: 1
        },

        yAxis: {
            gridLineInterpolation: 'polygon',
            lineWidth: 0,
            min: 0
        },

        tooltip: {
            enabled: false,
            shared: true,
            pointFormat: '<span style="color:{series.color}">{series.name}: <b>${point.y:,.0f}</b><br/>'
        },

        legend: {
            align: 'right',
            verticalAlign: 'top',
            y: 70,
            layout: 'vertical'
        },

        series: [{
            name: 'Actual Spending',
            data: [50000, 39000, 42000, 31000, 26000, 14000],
            pointPlacement: 'on'
        }]

    });
</script>

<script>

    Highcharts.chart('chart-graphics', {

        title: {
            text: 'Solar Employment Growth by Sector, 2010-2016'
        },

        subtitle: {
            text: 'Source: thesolarfoundation.com'
        },

        yAxis: {
            title: {
                text: 'Number of Employees'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
                },
                pointStart: 2010
            }
        },

        series: [{
            name: 'Installation',
            data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
        }, {
            name: 'Manufacturing',
            data: [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434]
        }, {
            name: 'Sales & Distribution',
            data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
        }, {
            name: 'Project Development',
            data: [null, null, 7988, 12169, 15112, 22452, 34400, 34227]
        }, {
            name: 'Other',
            data: [12908, 5948, 8105, 11248, 8989, 11816, 18274, 18111]
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });
</script>


<script>


    var gaugeOptions = {

        chart: {
            type: 'solidgauge'
        },

        title: null,

        pane: {
            center: ['50%', '85%'],
            size: '140%',
            startAngle: -90,
            endAngle: 90,
            background: {
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                innerRadius: '60%',
                outerRadius: '100%',
                shape: 'arc'
            }
        },

        tooltip: {
            enabled: false
        },

        // the value axis
        yAxis: {
            stops: [
                [0.1, '#55BF3B'], // green
                [0.5, '#DDDF0D'], // yellow
                [0.9, '#DF5353'] // red
            ],
            lineWidth: 0,
            minorTickInterval: null,
            tickAmount: 2,
            title: {
                y: -70
            },
            labels: {
                y: 16
            }
        },

        plotOptions: {
            solidgauge: {
                dataLabels: {
                    y: 5,
                    borderWidth: 0,
                    useHTML: true
                }
            }
        }
    };

    // The speed gauge
    var chartSpeed = Highcharts.chart('container-speed', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 200,
            title: {
                text: 'Speed'
            }
        },

        credits: {
            enabled: false
        },

        series: [{
            name: 'Speed',
            data: [80],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                '<span style="font-size:12px;color:silver">km/h</span></div>'
            },
            tooltip: {
                valueSuffix: ' km/h'
            }
        }]

    }));

    // The RPM gauge
    var chartRpm = Highcharts.chart('container-rpm', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 5,
            title: {
                text: 'RPM'
            }
        },

        series: [{
            name: 'RPM',
            data: [1],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y:.1f}</span><br/>' +
                '<span style="font-size:12px;color:silver">* 1000 / min</span></div>'
            },
            tooltip: {
                valueSuffix: ' revolutions/min'
            }
        }]

    }));



</script>







	
{% endblock content %}

